@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');
html {
    scroll-behavior: smooth;
}

.landing {
    background-image: url('../images/pizzashop3.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 17%;
    font-family: 'Gabriela', serif;
    height: 100%;
    width: 100%;
    font-size: larger;
}

.landing h1 {
    padding: 2px;
    margin: 5px;
}

.landing p {
    padding: 2px;
    margin-bottom: 20px;
}

#mouse-click {
    padding-top: 22px;
    margin-top: 6%;
    padding-bottom: 25px;
}

#mouse-click {
    animation: bounce 2s infinite;
}

.h2 {
    font-family: 'Gabriela', serif;
}

.varieties {
    align-items: center;
}

#type {
    float: left;
    margin-left: 10px;
}

.order-overlay {
    font-family: 'Gabriela', serif;
    /* background-color: lightsalmon; */
    border-radius: 20px;
    background-image: url(../images/pizzashop3.jpg);
    color: white;
}

#contact {
    background-color: lightgrey;
}